
header{
    text-align: center;
    background-color: cadetblue;
}
h2{
    color: darkcyan;
}
h3{
    color: darkcyan;
}
footer{
    background-color: cadetblue;
    width: auto;
    height: 20px;
    display: flex;
    justify-content: space-between;
    padding: 1.2em;

}
.codi{
    color: #fbfbff;
}
.topnav{
    background-color: rgb(231, 245, 243);
    height: 20px;
    text-align: center;
    
}
.topnav a:hover {
    color: rgb(20, 47, 48);
}